sample/67982/testdb_select/table_name12.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="xs:table_name12">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="column_name1" type="xs:varchar"/>
                <xs:element name="column_name2" type="xs:int"/>
                <xs:element name="column_name3" type="xs:varchar"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
